
<div class="" style="float:left;width:100%;">
    <div class="full-width" id="">
        <div class="bg-truck">
            <div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
                <!-- Overlay -->
                <div class="overlay"></div>

                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#bs-carousel" data-slide-to="1"></li>
                    <li data-target="#bs-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item slides active">
                        <div class="slide-1"></div>

                    </div>
                    <div class="item slides">
                        <div class="slide-2"></div>

                    </div>
                    <div class="item slides">
                        <div class="slide-3"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-truck">
    <div class="full-width" style="margin-top: 120px;">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="text-left pacific-head">Performance of Sachin</h2>
                <br>
                <h4 class="open-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
                <br>
                <h4 class="open-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/TamUy_PZzBM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

    </div>
    <div class="full-width" style="margin-top: 150px;">
        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="ct-chart ct-perfect-fourth" ></div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2 class="text-right pacific-head">Performance of Sachin</h2>
                <br>
                <h4 class="open-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
                <br>
                <h4 class="open-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</h4>
                <div class="text-center">
                    <button class="btn btn-hero btn-lg"ng-click="clickit()" >View performance statistics</button>
                </div>
            </div>

        </div>

    </div>
</div>
